[submodule "lib/libDaisy"]
	path = lib/libDaisy
	url = git@github.com:electro-smith/libDaisy.git
[submodule "lib/q"]
	path = lib/q
	url = git@github.com:cycfi/q.git
[submodule "dubby"]
	path = dubby
	url = https://gitlab.com/componental/dubby/
[submodule "lib/DaisySP"]
	path = lib/DaisySP
	url = https://github.com/electro-smith/DaisySP
